<div class="main-index">
  <div class="container">
    <div class="row" style="min-height: 100vh;">
      <div class="col-6 m-auto">
        <div class="card p-4 container-index-form">
          <h2>Please confirm your account</h2><br>
          <p>In order for Evee to help you we have to verify your email account. <br><br>
          An email was sent to your account, please click in the link to access to Evee.</p>
        </div>
      </div>
    </div>
  </div>
</div>