<div class="center-main">
  <div class="main-index">
    <div class="container">
      <div class="row" style="min-height: 100vh;">
        <div class="col-6 m-auto">
          <div class="card p-4 container-index-form">
            <h2>Please check your inbox</h2><br>
            <p>We have to verify your email account. <br><br>
            Click in the link to access to Evee.</p>
            <div class="form-group">
              <small>Have you confirmed your account?  <a href="/login">Login!</a></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>