<div class="main-index">
  <div class="container">
    <div class="row" style="min-height: 100vh;">
      <div class="col-6 m-auto">
        <div class="card p-4 container-index-form">
          <form action="/login" method="POST" id="form-container">

            <h2>Thanks for verifying your account!</h2>
            <br>
            <h5>Wanna start receiving offers? Login now!</h5>
            <br>

            <div class="form-group">
              <label for="email">Email:</label>
              <input id="email" type="email" name="email" placeholder="anna.kerr@evee.com" class="form-control">
            </div>

            <div class="form-group">
              <label for="password">Password:</label>
              <input id="password" type="password" name="password" placeholder="Your password" class="form-control">
            </div>

            {{#if message }}
              <div class="error-message">{{ message }}</div>
            {{/if}}

            <button class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
