<div>
<div>
{{!-- <img src="{{}}" alt="ProfilePicture" srcset=""> --}}
</div>
<h3>Welcome! {{user.name}}</h3>
</div>


<section>
<div>
  <h2>Your currently events</h2>
</div>
<div>
  <input type="button" name="Create a new event" id="">
</div>
</section>