<div class="main-index">
  <div class="container">
    <div class="row" style="min-height: 100vh;">
      <div class="col-6 m-auto">
        <div class="card p-4 container-index-form">
          <form action="/signup" method="POST" id="form-container">

            <h2>Signup</h2>
            
            <div class="form-group">
              <label for="name">Name:</label>
              <input id="name" type="text" name="name" placeholder="Anna" class="form-control">
            </div>

            <div class="form-group">
              <label for="lastName">Last name:</label>
              <input id="lastName" type="text" name="lastName" placeholder="Kerr" class="form-control">
            </div>

            <div class="form-group">
              <label for="email">Email:</label>
              <input id="email" type="email" name="email" placeholder="anna.kerr@evee.com" class="form-control">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
              <label for="role">Role:</label>
              <select id="role" type="text" name="role" placeholder="anna.kerr@evee.com" class="form-control">
                <option value="Wedding">Wedding Planner</option>
                <option value="Supplier">Supplier</option>
              </select>
            </div>

            <div class="form-group">
              <label for="password">Password:</label>
              <input id="password" type="password" name="password" placeholder="Your password" class="form-control">
            </div>

            {{#if message }}
              <div class="error-message">{{ message }}</div>
            {{/if}}

            <button class="btn btn-primary">Create account</button>

            <p class="account-message">
              <small id="emailHelp" class="form-text text-muted">Do you already have an account?
                <a href="/login">Login here</a>
              </small>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>