<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Evee</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/signup">Signup</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container p-5">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to the home page, {{this.name}}</h1>
        <p class="lead">Here you can see all the needs that the wedding planners have:<br><i>Hopefully your services will be helpful to them!</i></p>
        <hr class="my-4">
        <p>We are filtering all requests, so you can only see, what you can offer.</p>
      </div>
    </div>
  </div>


  <div class="content p-3">
    <h3>Latests requests</h3>
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img src="https://s3-ap-southeast-2.amazonaws.com/ish-oncourse-stgeorge/a23cfc0b-d183-45c0-af92-e2ed53d2bffe"
            class="card-img" alt="...">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title">Name of event: Type of offer made</h5>
            <h5><span class="badge badge-primary">Offer made</span></h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="text-right">
              <button class="btn btn-primary">Go to offer page</button>
              <button class="btn btn-success">Accept</button>
              <button class="btn btn-danger">Decline</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img src="https://s3-ap-southeast-2.amazonaws.com/ish-oncourse-stgeorge/a23cfc0b-d183-45c0-af92-e2ed53d2bffe"
            class="card-img" alt="...">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title">Name of event: Type of offer made</h5>
            <h5><span class="badge badge-primary">Offer made</span></h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="text-right">
              <button class="btn btn-primary">Go to offer page</button>
              <button class="btn btn-success">Accept</button>
              <button class="btn btn-danger">Decline</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img src="https://s3-ap-southeast-2.amazonaws.com/ish-oncourse-stgeorge/a23cfc0b-d183-45c0-af92-e2ed53d2bffe"
            class="card-img" alt="...">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title">Name of event: Type of offer made</h5>
            <h5><span class="badge badge-primary">Offer made</span></h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="text-right">
              <button class="btn btn-primary">Go to offer page</button>
              <button class="btn btn-success">Accept</button>
              <button class="btn btn-danger">Decline</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>