<h1>Wanna Cake?</h1>
<form action="" method="POST">
  <!---->
  <div class="form-group">
    <label for="">Name of cake</label>
    <input type="text" class="form-control" name="name" id="">
  </div>
  <!---->
  <div class="form-group">
    <label for="">Flavor</label>
    <input type="text" class="form-control" name="flavor" id="">
  </div>
  <!---->
  <div class="form-group">
    <label for="">Term</label>
    <select class="form-control" name="term" id="">
      <option value="Other">Other</option>
      <option value="Glazed">Glazed</option>
      <option value="Fondant">Fondant</option>
      <option value="Meringue">Meringue</option>
      <option value="Chantilli">Chantilli</option>
    </select>
  </div>
  <!---->
  <div class="form-group">
    <label for="">Filling</label>
    <input type="text" class="form-control" name="filling" id="">
  </div>
  <!---->
  <div class="form-group">
    <label for="">Floors</label>
    <input type="number" class="form-control" name="floors" id="">
  </div>
  <!---->
  {{!-- <div class="form-group">
    <label for="">Upload an Image!</label><br>
    <input  type="file" name="imgCake">
  </div> --}}
  <input type="submit" name="" id="">
</form>