<h1>Choose the furniture that you need!</h1>
<form action="" method="post">

  <div class="form-group">
  <label for="">Type of tables</label>
  <select name="" class="form-control" id="">
    <option value="Triangular">Triangular</option>
    <option value="Round">Round</option>
    <option value="Rectangular">Rectangular</option>
    <option value="Hexagonal">Hexagonal</option>
    <option value="Square">Square</option>
    <option value="Other">Other</option>
  </select>
  </div>

  <div class="form-group">
  <label for="">Mobiliary Style</label>
  <select name="" class="form-control" id="">
  <option value="Minimalist">Minimalist</option>
  <option value="Wood">Wood</option>
  <option value="Plastic">Plastic</option>
  <option value="Steel">Steel</option>
  <option value="Other">Other</option>
  </select>
  </div>

  <div class="form-group">
  <label for="">Table cloth and chairs</label>
  <select name="" class="form-control" id="">
    <option value="Silk">Silk</option>
    <option value="Cotton">Cotton</option>
    <option value="Poliester">Poliester</option>
    <option value="Linen">Linen</option>
    <option value="Mixed">Mixed</option>
    <option value="Other">Other</option>
  </select>
  </div>

  <div class="form-group">
  <label for="">Tent</label>
  <input type="checkbox">
  </div>

  <div class="form-group">
    <label for="">Upload the mobiliary that you need!</label><br>
    <input  type="file"  name="photo">
  </div>
</form>