<h1>Need it photo session?</h1>
<form action="" method="post">
  <div class="form-group">
  <label for="">Type of album</label>
  <select class="form-control" type="text" name="typeOfAlbum" id="">
    <option value="Photo Album">Photo Album</option>
    <option value="Video Album">Video Album</option>
    <option value="Both">Both</option>
  </select>
  </div>
  <div>
  <label for="">Hours of service</label>
  <input type="number" class="form-control" name="hoursOfService" id="">
  </div><br>
  <input type="submit" name="" id="">
</form>