<h1>Tell me...</h1>


<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Name of the event</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Who is getting married?">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Guests</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Who many guests are there?">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Date of event</label>
    <input type="date" class="form-control" id="formGroupExampleInput2">
  </div>
</form>